<!doctype html>
<html>
<head>
<meta charset="utf-8">
<TITLE>论坛--帖子列表</TITLE>

<script type="text/javascript"src="js/jquery-3.4.1.js"></script>
<script type="text/javascript"src="js/vue.min.js"></script>
<Link rel="stylesheet" type="text/css" href="style/style.css" />
</HEAD>

<BODY>
<DIV>
	<IMG src="image/logo.gif">
</DIV>
<!--      用户信息、登录、注册        -->

<DIV class="h">
	<span v-if="loginedUser !='' ">欢迎{{loginedUser.uname}}</span>
	<span v-else>您尚未　<a href="login.html">登录</a></span>
	&nbsp;| &nbsp; <A href="reg.html">注册</A> |
</DIV>
<script type="text/javascript">
	 var vue1=new Vue({
		 el:".h",
		 data:{
			 loginedUser:""
		 },
		 created:function(){
			var url="getloginuserServlet.do";
			$.post(url,null,function(msg){
				vue1.$data.loginedUser=JSON.parse(msg);
			});
		}		 
	 });
</script>
<!--      主体        -->

<!--      导航        -->
<br/>
<DIV>
	&gt;&gt;<B><a href="index.html">论坛首页</a></B>&gt;&gt;
	<B><a href="list.html">灌水乐园</a></B>
</DIV>
<br/>
<!--      新帖        -->
	<DIV>
		<A id="addtopic" href="topic.html"><IMG src="image/post.gif" name="td_post" border="0" id=td_post></A>
	</DIV>
<!--         翻 页         -->
	

	<DIV class="t">
		<TABLE id="dataTable" cellSpacing="0" cellPadding="0" width="100%">		
			<TR>
				<TH class="h" style="WIDTH: 100%" colSpan="4"><SPAN>&nbsp;</SPAN></TH>
			</TR>
<!--       表 头           -->
			<TR class="tr2">
				<TD>&nbsp;</TD>
				<TD style="WIDTH: 80%" align="center">文章</TD>
				<TD style="WIDTH: 10%" align="center">作者</TD>
				<TD style="WIDTH: 10%" align="center">回复</TD>
			</TR>
<!--         主 题 列 表        -->
			
			<TR v-for="t in list" class="tr3">
				<TD><IMG src="image/topic.gif" border=0></TD>
				<TD style="FONT-SIZE: 15px">
					<A v-bind:href="'detail.html#'+t.topicid">{{t.title}}</A>
				</TD>
				<TD align="center">{{t.uid}}</TD>
				<TD align="center">2</TD>
			</TR>
					
		</TABLE> 
		<script type="text/javascript">
		var vue=new Vue({
			el:"#dataTable",
			data:{
				list:[]
			},
			created:function(){
				//document 	文档对象
				var boardid=location.hash.substring(1);
				addtopic.href="topic.html#"+boardid;
				var url="list.do?boardid="+boardid;
				$.get(url,null,function(json){
					vue.$data.list=JSON.parse(json);
				});
			}
			
		});
		
		
		</script>
		
	</DIV>
<!--            翻 页          -->
	
</DIV>
<!--             声 明          -->
<BR/>
<CENTER class="gray">源辰信息</CENTER>
</BODY>
</HTML>
